/* CSS Document */

/*
Container for the menu. We set top and bottom borders only because the menu container
stretches the entire window width. Note that this container can go inside a fixed width
element that is centered on the page, if you so desire. It can even go inside a table cell.
It carries a background image for aesthetics.
*/
#menuwrapper {
	background: #FFFFFF;
	width: 560px;
	margin-left: 175px;
}
/* -------------Main Menu-------------------------------------------------------------- */

#menu {
	width: 100%;
	padding: 4px 0;
	margin: 0 0 6px 0;
	float: left;
}
#menu li {
	list-style: none;
	display: inline;
	margin: 0;
}
#menu li a {
	text-decoration: none;
	padding: 6px 6px;
	margin: 1px 1px 0 4px;
	letter-spacing: 1em;
}
#menu li a:hover {
	background: inherit;
	color: #3399CC;
}
/*
menubar is the root UL and menubar ul applies to all the sub-menu ULs.
We set padding and margin to zero to eliminate all indentation, turn bullets off,
and set a font-family different from the global font-family declared for the
body element above. This sets font for just the menu. Do not add a font-size here.
*/
#menubar, #menubar ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
/*
Root-Level Links.  Do not change the first two properties.
Adjust padding values to make the root links taller and to offset them
from the left and right edges of the link box. The border right creates a
separator between links. Font-size is set here and will apply to all menu levels.
Font color is set to light gray.
*/
#menubar a {
	display: block;
	text-decoration: none;
	padding: 10px 20px 20px;
	color: #565656;
	letter-spacing: 0.2em;
	border-bottom: 2px solid #FFF;
	font-size: 0.9em;
	font-weight: 500;
}
#menubar a.current {
	color: #333333;
	background: #E5E6EE;
}
/*
Class assigned to those Root-Level links that have associated Sub-Menus.
The top and bottom padding assigned this element must be the same as
that assigned to the menubar a element. The right padding is increased
to accomodate the display of background image depicting a downward
pointing arrow.
*/
#menubar a.trigger {
	padding: 10px 16px 5px 10px;
	background: url(../images/arrow.gif) no-repeat right center;
}
#menubar a.trigger_current {
	color: #333333;
	background: #E5E6EE url(../images/arrow.gif) no-repeat right;
	padding: 10px 16px 5px 10px;
}
/*
The Root-Level list items. Floating left allows
them to appear horizontally. Width is for IE5 Mac. The last rule in
this style sheet will set the width for this element to auto for all
other browsers - hiding it from IE5 Mac. The width is proportional.
As you add and edit root menu items, you will need to test this width
to ensure it is wide enough to accomodate all text.
*/
#menubar li {
	float: left;
	width: 9em;
}
/*
Sets width for Sub-Menu box and the List Items inside - in proportional em units. 
This allows the sub-menu width to expand if users resize the text in their browsers.
*/
#menubar li ul, #menubar ul li {
	width: 13em;
}
/*
The sub-menu links. We set color and turn off the right border, which
would otherwise be inherited from the root link rule. We set top and 
bottom padding less than the root items and increas the left padding
to indent the sub-menu links a small amount in from the root links.
*/
#menubar ul li a {
	color: #565656;
	border-right: 0;
	padding: 3px 12px 3px 16px;
}
/*
Sub-Menu Unordered Lists describes each dropdown sub-menu grouping. 
Positioned Absolutely to allow them to appear below their root trigger.
Set to display none to hide them until trigger is moused over.
Background Color must be set or problems will be encountered in MSIE.
Right and bottom borders are set to simulate a raised look.
A gradient background image is assigned.
*/
#menubar li ul {
	position: absolute;
	display: none;
	border-right: 1px solid #FFF;
	background-repeat: repeat-x;
}
/*
Changes the Text color and background color when the Root-Level
menu items are moused over. The second selector sets color and background
when Root-Level items are accessed with the keyboard tab key. The third
selector sets an active state to support keyboard access in MSIE. The fourth 
selector is assigned to IE5 and IE6 Windows via the P7_ExpMenu script.
Note that IE7 supports hover on elements other than links and so behaves
like Firefox, Opera, and Safari - making the menu operable even if JavaScript
is not enabled.
*/
#menubar li:hover a, #menubar a:focus, #menubar a:active, #menubar li.hvr a {
	color: #007799;
	background-image: url(../images/bg_sidebar.jpg);
	background-repeat: repeat;
	background-color: #ededed;
}
/*
Set the Sub-Menu UL to be visible when its associated
Root-Level link is moused over. The second selector is 
assigned to IE5 and IE6 via the P7_ExpMenu script.
*/
#menubar li:hover ul, #menubar li.hvr ul {
	display: block;
	margin-left: 12px;
}
/*
Sets the Text color of the Sub-Level links when the Root-Level
menu items are moused over. The second selector is 
assigned to IE5 and IE6 via the P7_ExpMenu script.
The color set should march the normal Sub-Level link color
in the rule: #menubar ul li a. The background color must be
transparent to allow the underlying gradient background on the UL
to show through.
*/
#menubar li:hover ul a, #menubar li.hvr ul a {
	color: #565656;
	background-color: transparent;
}
/*
The normal hover class for Sub-Level links. The Important directive
is required for older browsers. We set a background color, which shows
over the gradient background. We set text color to white.
*/
#menubar ul a:hover {
	color: #33CCCC!important;
}
/* The single backslash \ character inside this comment
causes IE5 Mac to ignore the following rule, which allows other
browsers to render top-level menu items to their natural width.
Do not edit this rule in any way. */
#menubar li {
	width: auto;
}
/*Clears the floated menu items.
Assigned to a BR tag placed just before
menuwrapper's closing DIV tag*/
.clearit {
	clear: both;
	height: 0;
	line-height: 0.0;
	font-size: 0;
}
